.input {
  position: relative;
  overflow: hidden;
}
.input input {
  height: 44px;
  width: 100%;
  border: none;
  /* background: #f4f8fb 0% 0% no-repeat padding-box; */
  background: transparent;
  padding: 1rem 0.8rem 0 0.8rem;
  font-size: 14px;
  border-bottom: 1px solid #e0e2ec;
}
.input input::placeholder {
  font-size: 14px;
}
.input input:focus {
  border: none;
  outline: none;
}
.content_name {
  position: absolute;
  left: 0;
  bottom: 40%;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
.input input:focus + .label_name .content_name,
.input input:valid + .label_name .content_name {
  color: #fa4a84;
  transform: translateY(-40%);
}

.input input:focus + .label_name::after,
.input input:valid + .label_name::after {
  transform: translateX(0%);
}

.input label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fa4a84;
  color: #8397ab;
  font-size: 12px;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.input label::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 5%;
  width: 100%;
  bottom: 0;
  background: transparent
    linear-gradient(270deg, #00d2ff 0%, #7e51ff 51%, #fa4a84 100%) 0% 0%
    no-repeat padding-box;
  transform: translate(-100%);
  transition: transform 0.3s ease;
}

.input__error {
  font-size: 12px;
  color: rgb(189, 87, 87);
}
